html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    /* padding: 20px; */
    background-color: antiquewhite;
}

/* Footer styling */
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}