<aside class="sidebar">
	<div class="sidebar-header">
		<h3>Student Attendance</h3>
	</div>
	<ul class="sidebar-nav">
		<li><a href="../pages/dashboard.html"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
		<li><a href="../pages/attendence.html"><i class="fas fa-calendar-check"></i> Attendance</a></li>
		<li><a href="../pages/profile.html"><i class="fas fa-user"></i> Profile</a></li>
		<li><a href="../pages/login.html"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
	</ul>
</aside>
